
<form [formGroup]="form" (ngSubmit)="formOnSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 form-group">
                <label for="email">
                    Email
                </label>
                <input formControlName="email" type="text" id="name" name="name" class="form-control" placeholder="info@johndoe.com" [ngClass]="{ 'is-invalid': form.get('email')?.invalid && form.get('email')?.touched, 'is-valid': form.get('email')?.valid && form.get('email')?.touched, 'is-no-action': form.get('email')?.untouched }">
                <div *ngIf="form.get('email')?.errors" [ngClass]="{ 'invalid-feedback': form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched), 'valid-feedback': form.get('email')?.valid && (form.get('email')?.dirty || form.get('email')?.touched) }" class="ifp_red">
                    <div *ngIf="form.get('email')?.errors?.['customEmailValidator']?.hasAt == false">
                        No contiene ninguna arroba.
                    </div>
                    <div *ngIf="form.get('email')?.errors?.['customEmailValidator']?.hasDot == false">
                        No contiene ningún punto.
                    </div>
                    <div *ngIf="form.get('email')?.errors?.['minlength']">
                        La longitud minima debe ser {{ form.get('email')?.errors?.['minlength'].requiredLength }} caracteres.
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3 form-group">
                <label for="Password">
                    Password
                </label>
                <input formControlName="password" type="password" id="password" name="password" class="form-control" placeholder="Abcd.1234" [ngClass]="{ 'is-invalid': form.get('password')?.invalid && form.get('password')?.touched, 'is-valid': form.get('password')?.valid && form.get('password')?.touched, 'is-no-action': form.get('password')?.untouched }">
                <div *ngIf="form.get('password')?.errors" [ngClass]="{ 'invalid-feedback': form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched), 'valid-feedback': form.get('password')?.valid && (form.get('password')?.dirty || form.get('password')?.touched) }" class="ifp_red">
                    <div *ngIf="form.get('password')?.errors?.['customPasswordValidator']?.hasUpper == false">
                        No contiene ninguna mayúscula.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['customPasswordValidator']?.hasLower == false">
                        No contiene ninguna minúsucla.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['customPasswordValidator']?.hasNumber == false">
                        No contiene ningún número.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['customPasswordValidator']?.hasSpecial == false">
                        No contiene ningún caracter especial.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['minlength']">
                        La longitud minima debe ser {{ form.get('password')?.errors?.['minlength'].requiredLength }} caracteres.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['badCredentials'] == true">
                        El email o la contraseña son incorrectos.
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <button class="btn btn-outline-primary" type="submit" [disabled]="form.invalid">
                    Login
                </button>
            </div>
        </div>
    </div>
</form>