
<div class="container">
    <div class="row">
        <div *ngFor="let element of elements" class="col-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-top mb-2" [ngStyle]="{ 'background-color': element.color, 'height': '50px' }"></div>
                    <h5 class="card-title mb-2">{{ element.name }}</h5>
                    <p class="card-text mb-0">{{ element.pantone_value }}</p>
                    <p class="card-text mb-0">{{ element.year }}</p>
                </div>
              </div>
        </div>
    </div>
</div>